## Data Cleaning and Preprocessing:

##### Import and display first 5 rows in dataset

In [29]:
import pandas as pd # use to data manipulation, analysis, processing
from sklearn.preprocessing import LabelEncoder # convert categorical variables to numerical values

data=pd.read_csv('train.csv')
print(data.head()) # Display first 5 rows of dataset

                ID  Gender       DOB Lead_Creation_Date City_Code  \
0  APPC90493171225  Female  23/07/79           15/07/16    C10001
1  APPD40611263344    Male  07/12/86           04/07/16    C10003
2  APPE70289249423    Male  10/12/82           19/07/16    C10125
3  APPF80273865537    Male  30/01/89           09/07/16    C10477
4  APPG60994436641    Male  19/04/85           20/07/16    C10002

  City_Category Employer_Code Employer_Category1  Employer_Category2  \
0             A    COM0044082                  A                 4.0
1             A    COM0000002                  C                 1.0
2             C    COM0005267                  C                 4.0
3             C    COM0004143                  A                 4.0
4             A    COM0001781                  A                 4.0

   Monthly_Income  ... Contacted Source Source_Category Existing_EMI  \
0          2000.0  ...         N   S122               G          0.0
1          3500.0  ...         Y   S122               G          0.0
2          2250.0  ...         Y   S143               B          0.0
3          3500.0  ...         Y   S143               B          0.0
4         10000.0  ...         Y   S134               B       2500.0

  Loan_Amount  Loan_Period  Interest_Rate    EMI  Var1  Approved
0         NaN          NaN            NaN    NaN     0         0
1     20000.0          2.0          13.25  953.0    10         0
2     45000.0          4.0            NaN    NaN     0         0
3     92000.0          5.0            NaN    NaN     7         0
4     50000.0          2.0            NaN    NaN    10         0

[5 rows x 22 columns]

##### Check for missing values in each column and display the total count

In [31]:
mv=data.isnull().sum() # Get the count of missing values
print(f'Count of missing values:\n{mv}')

Count of missing values:
ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
City_Category                            814
Employer_Code                           4018
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source                                     0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Interest_Rate                          47437
EMI                                    47437
Var1                                       0
Approved                                   0
dtype: int64

##### Encoding Selected columns

In [34]:
# Specify the columns you want to encode
columns_to_encode = ['Gender', 'City_Category', 'Employer_Category1', 'Contacted','Source_Category']  # Update as needed

# Initialize LabelEncoder
encoder = LabelEncoder()

# Apply Label Encoding only to selected columns
for col in columns_to_encode:
    data[col] = encoder.fit_transform(data[col].astype(str))  # Convert to string to handle NaN values

# Display the first few rows of the updated dataset
print(data.head())

                ID  Gender       DOB Lead_Creation_Date City_Code  \
0  APPC90493171225       0  23/07/79           15/07/16    C10001
1  APPD40611263344       1  07/12/86           04/07/16    C10003
2  APPE70289249423       1  10/12/82           19/07/16    C10125
3  APPF80273865537       1  30/01/89           09/07/16    C10477
4  APPG60994436641       1  19/04/85           20/07/16    C10002

   City_Category Employer_Code  Employer_Category1  Employer_Category2  \
0              0    COM0044082                   0                 4.0
1              0    COM0000002                   2                 1.0
2              2    COM0005267                   2                 4.0
3              2    COM0004143                   0                 4.0
4              0    COM0001781                   0                 4.0

   Monthly_Income  ... Contacted Source  Source_Category Existing_EMI  \
0          2000.0  ...         0   S122                6          0.0
1          3500.0  ...         1   S122                6          0.0
2          2250.0  ...         1   S143                1          0.0
3          3500.0  ...         1   S143                1          0.0
4         10000.0  ...         1   S134                1       2500.0

   Loan_Amount  Loan_Period  Interest_Rate    EMI  Var1  Approved
0          NaN          NaN            NaN    NaN     0         0
1      20000.0          2.0          13.25  953.0    10         0
2      45000.0          4.0            NaN    NaN     0         0
3      92000.0          5.0            NaN    NaN     7         0
4      50000.0          2.0            NaN    NaN    10         0

[5 rows x 22 columns]

##### Fill missing values in the "Loan_Amount" column with the median

In [39]:
# Asign median to missing value in 'Loan_Amount'
data['Loan_Amount']=data['Loan_Amount'].fillna(data['Loan_Amount'].mean())

##### Fill missing values in 
##### Employer_Category1,Employer_Category2,Primary_Bank_Type,Customer_Existing_Primary_Bank_Code
##### columns with the median

In [46]:
# Specify the columns you want 
columns = ['Employer_Category1', 'Employer_Category2', 'Primary_Bank_Type', 'Customer_Existing_Primary_Bank_Code']  

# Apply mode only to selected columns
for col in columns:
    data[col]=data[col].fillna(data[col].mode()[0])

##### Fill missing values in Loan_Period,Interest_Rate,EMI,Existing_EMI column with the mean

In [49]:
# Specify the columns you want 
columns = ['Loan_Period', 'Interest_Rate', 'EMI', 'Existing_EMI']  

# Apply mode only to selected columns
for col in columns:
    data[col]=data[col].fillna(data[col].mean())
print(data.head())

                ID  Gender       DOB Lead_Creation_Date City_Code  \
0  APPC90493171225       0  23/07/79           15/07/16    C10001
1  APPD40611263344       1  07/12/86           04/07/16    C10003
2  APPE70289249423       1  10/12/82           19/07/16    C10125
3  APPF80273865537       1  30/01/89           09/07/16    C10477
4  APPG60994436641       1  19/04/85           20/07/16    C10002

   City_Category Employer_Code  Employer_Category1  Employer_Category2  \
0              0    COM0044082                   0                 4.0
1              0    COM0000002                   2                 1.0
2              2    COM0005267                   2                 4.0
3              2    COM0004143                   0                 4.0
4              0    COM0001781                   0                 4.0

   Monthly_Income  ... Contacted Source  Source_Category Existing_EMI  \
0          2000.0  ...         0   S122                6          0.0
1          3500.0  ...         1   S122                6          0.0
2          2250.0  ...         1   S143                1          0.0
3          3500.0  ...         1   S143                1          0.0
4         10000.0  ...         1   S134                1       2500.0

    Loan_Amount  Loan_Period  Interest_Rate          EMI  Var1  Approved
0  39429.982859     3.890629       19.21357  1101.466242     0         0
1  20000.000000     2.000000       13.25000   953.000000    10         0
2  45000.000000     4.000000       19.21357  1101.466242     0         0
3  92000.000000     5.000000       19.21357  1101.466242     7         0
4  50000.000000     2.000000       19.21357  1101.466242    10         0

[5 rows x 22 columns]

##### Remvove all NA Values

In [52]:
print(f"Before remove NA values from dataset: {data.shape}")
# Remove rows with any missing values
data = data.dropna()
print(f"After remove NA values from dataset: {data.shape}")

Before remove NA values from dataset: (69713, 22)
After remove NA values from dataset: (65338, 22)

##### Check missing values again

In [55]:
mv=data.isnull().sum() # Check missing values again
print(f'Count of missing values:\n{mv}')

Count of missing values:
ID                                     0
Gender                                 0
DOB                                    0
Lead_Creation_Date                     0
City_Code                              0
City_Category                          0
Employer_Code                          0
Employer_Category1                     0
Employer_Category2                     0
Monthly_Income                         0
Customer_Existing_Primary_Bank_Code    0
Primary_Bank_Type                      0
Contacted                              0
Source                                 0
Source_Category                        0
Existing_EMI                           0
Loan_Amount                            0
Loan_Period                            0
Interest_Rate                          0
EMI                                    0
Var1                                   0
Approved                               0
dtype: int64

##### Convert the "Monthly_Income" column to integer data type

In [58]:
print(data['Monthly_Income'].dtype) # Display current data type
data['Monthly_Income'] = data['Monthly_Income'].astype(int) # Convert to integer

float64

In [60]:
print(data['Monthly_Income'].dtype)

int32

##### Remove all duplicate rows from the dataset

In [63]:
data = data.drop_duplicates()

##### Removing Outliers

In [66]:
import numpy as np # library use to numerical computing
# Display before row count
print(f"Original dataset size: {data.shape}")

# Identify numerical columns
num_cols = data.select_dtypes(include=[np.number]).columns.tolist()

# Define function to remove outliers using IQR
def remove_outliers_iqr(data, columns):
    Q1 = data[columns].quantile(0.25)
    Q3 = data[columns].quantile(0.75)
    IQR = Q3 - Q1

    # Define lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Remove outliers
    cleaned_data = data[~((data[columns] < lower_bound) | (data[columns] > upper_bound)).any(axis=1)]
    
    return cleaned_data

# Remove outliers from numerical columns
data = remove_outliers_iqr(data, num_cols)

# Display after row counts
print(f"Cleaned dataset size: {data.shape}")

Original dataset size: (65338, 22)
Cleaned dataset size: (26795, 22)

##### One-hot encoding

In [69]:
# Identify categorical columns
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()

# Perform one-hot encoding
encoded_df = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Display the transformed dataset
print(encoded_df.head())

    Gender  City_Category  Employer_Category1  Employer_Category2  \
0        0              0                   0                 4.0
2        1              2                   2                 4.0
5        0              2                   0                 4.0
9        0              1                   0                 4.0
12       0              0                   2                 4.0

    Monthly_Income  Contacted  Source_Category  Existing_EMI   Loan_Amount  \
0             2000          0                6           0.0  39429.982859
2             2250          1                1           0.0  45000.000000
5             7000          0                1           0.0  39429.982859
9             2500          0                1           0.0  39429.982859
12            2000          0                1           0.0  39429.982859

    Loan_Period  ...  Source_S144  Source_S151  Source_S153  Source_S156  \
0      3.890629  ...        False        False        False        False
2      4.000000  ...        False        False        False        False
5      3.890629  ...        False        False        False        False
9      3.890629  ...        False        False        False        False
12     3.890629  ...        False        False        False        False

    Source_S157  Source_S158  Source_S159  Source_S160  Source_S161  \
0         False        False        False        False        False
2         False        False        False        False        False
5         False        False        False        False        False
9         False        False        False        False        False
12        False        False        False        False        False

    Source_S162
0         False
2         False
5         False
9         False
12        False

[5 rows x 54820 columns]

In [71]:
print(data.head())

                 ID  Gender       DOB Lead_Creation_Date City_Code  \
0   APPC90493171225       0  23/07/79           15/07/16    C10001
2   APPE70289249423       1  10/12/82           19/07/16    C10125
5   APPI90914237819       0  23/12/88           01/07/16    C10402
9   APPN60714112334       0  13/12/90           02/07/16    C10014
12  APPT10286486907       0  08/03/91           01/07/16    C10001

    City_Category Employer_Code  Employer_Category1  Employer_Category2  \
0               0    COM0044082                   0                 4.0
2               2    COM0005267                   2                 4.0
5               2    COM0007740                   0                 4.0
9               1    COM0042212                   0                 4.0
12              0    COM0003151                   2                 4.0

    Monthly_Income  ... Contacted Source  Source_Category Existing_EMI  \
0             2000  ...         0   S122                6          0.0
2             2250  ...         1   S143                1          0.0
5             7000  ...         0   S133                1          0.0
9             2500  ...         0   S122                1          0.0
12            2000  ...         0   S122                1          0.0

     Loan_Amount  Loan_Period  Interest_Rate          EMI  Var1  Approved
0   39429.982859     3.890629       19.21357  1101.466242     0         0
2   45000.000000     4.000000       19.21357  1101.466242     0         0
5   39429.982859     3.890629       19.21357  1101.466242     0         0
9   39429.982859     3.890629       19.21357  1101.466242     0         0
12  39429.982859     3.890629       19.21357  1101.466242     0         0

[5 rows x 22 columns]

##### Save the Cleaned Dataset

In [74]:
data.to_csv('CleanedDataSet.csv', index=False) # Save as csv