## Descriptive analysis

#### Import and display dataset

In [8]:
import pandas as pd

In [10]:
data=pd.read_csv("CleanedDataSet.csv")

In [12]:
#Select only numerical columns
numeric_data=data.select_dtypes(include=["number"])

#### Display summary of dataset

In [14]:
print(data.describe())

             Gender  City_Category  Employer_Category1  Employer_Category2  \
count  26795.000000   26795.000000        26795.000000             26795.0
mean       0.303303       0.504684            0.623885                 4.0
std        0.459694       0.801864            0.781960                 0.0
min        0.000000       0.000000            0.000000                 4.0
25%        0.000000       0.000000            0.000000                 4.0
50%        0.000000       0.000000            0.000000                 4.0
75%        1.000000       1.000000            1.000000                 4.0
max        1.000000       2.000000            2.000000                 4.0

       Monthly_Income     Contacted  Source_Category  Existing_EMI  \
count    26795.000000  26795.000000     26795.000000  26795.000000
mean      2045.922896      0.346221         3.023325    155.623318
std       1147.490537      0.475774         2.276285    275.112562
min          1.000000      0.000000         0.000000      0.000000
25%       1300.000000      0.000000         1.000000      0.000000
50%       1720.000000      0.000000         2.000000      0.000000
75%       2500.000000      1.000000         6.000000    250.000000
max       7600.000000      1.000000         6.000000   1000.000000

        Loan_Amount   Loan_Period  Interest_Rate           EMI          Var1  \
count  26795.000000  26795.000000   2.679500e+04  2.679500e+04  26795.000000
mean   37620.272280      4.009355   1.921357e+01  1.101466e+03      2.368054
std     7065.485206      0.470602   6.395004e-12  1.068676e-10      3.281432
min    11000.000000      3.000000   1.921357e+01  1.101466e+03      0.000000
25%    39429.982859      3.890629   1.921357e+01  1.101466e+03      0.000000
50%    39429.982859      3.890629   1.921357e+01  1.101466e+03      0.000000
75%    39429.982859      4.000000   1.921357e+01  1.101466e+03      4.000000
max    56000.000000      5.000000   1.921357e+01  1.101466e+03     10.000000

       Approved
count   26795.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0

#### Mode

In [16]:
print("\nMode:")
print(data.mode().iloc[0])

Mode:
ID                                     APPA10007179048
Gender                                             0.0
DOB                                           03/03/71
Lead_Creation_Date                            30/09/16
City_Code                                       C10003
City_Category                                      0.0
Employer_Code                               COM0000014
Employer_Category1                                 0.0
Employer_Category2                                 4.0
Monthly_Income                                  1500.0
Customer_Existing_Primary_Bank_Code               B001
Primary_Bank_Type                                    P
Contacted                                          0.0
Source                                            S122
Source_Category                                    1.0
Existing_EMI                                       0.0
Loan_Amount                               39429.982859
Loan_Period                                   3.890629
Interest_Rate                                 19.21357
EMI                                        1101.466242
Var1                                               0.0
Approved                                           0.0
Name: 0, dtype: object

#### Variance (For Numeric Columns)

In [18]:
print("\nVariance:")
print(numeric_data.var())

Variance:
Gender                2.113181e-01
City_Category         6.429858e-01
Employer_Category1    6.114620e-01
Employer_Category2    0.000000e+00
Monthly_Income        1.316735e+06
Contacted             2.263606e-01
Source_Category       5.181474e+00
Existing_EMI          7.568692e+04
Loan_Amount           4.992108e+07
Loan_Period           2.214667e-01
Interest_Rate         4.089608e-23
EMI                   1.142069e-20
Var1                  1.076779e+01
Approved              0.000000e+00
dtype: float64

#### Interquartile Range (IQR)

In [20]:
Q1 = numeric_data.quantile(0.25)
Q3 = numeric_data.quantile(0.75)
IQR = Q3 - Q1
print("\nInterquartile Range (IQR):")
print(IQR)

Interquartile Range (IQR):
Gender                   1.000000
City_Category            1.000000
Employer_Category1       1.000000
Employer_Category2       0.000000
Monthly_Income        1200.000000
Contacted                1.000000
Source_Category          5.000000
Existing_EMI           250.000000
Loan_Amount              0.000000
Loan_Period              0.109371
Interest_Rate            0.000000
EMI                      0.000000
Var1                     4.000000
Approved                 0.000000
dtype: float64

#### Range (Max - Min)

In [22]:
range_values = numeric_data.max() - numeric_data.min()
print("\nRange (Max - Min):")
print(range_values)

Range (Max - Min):
Gender                    1.0
City_Category             2.0
Employer_Category1        2.0
Employer_Category2        0.0
Monthly_Income         7599.0
Contacted                 1.0
Source_Category           6.0
Existing_EMI           1000.0
Loan_Amount           45000.0
Loan_Period               2.0
Interest_Rate             0.0
EMI                       0.0
Var1                     10.0
Approved                  0.0
dtype: float64